.inventory__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.inventory__title {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  padding-bottom: 3rem;
}

.inventory__item {
  background-color: var(--text-white);
  padding: 1.4rem;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  box-shadow: 0px 0px 6px rgb(0 0 0 / 10%);
}

.inventory__info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  cursor: pointer;
}

.inventory__img-box {
  width: 50px;
  display: flex;
}

.inventory__img {
  width: 100%;
}

.inventory__title {
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 500;
}

.inventory__subtitle {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;

  color: var(--text-black);
  font-size: 1.5rem;
}

.inventory__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.icon__money {
  width: 30px;
  height: 30px;
  background-color: var(--primary-color);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text-white);
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.icon__points {
  color: var(--primary-color);
  font-size: 2.4rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* Modais */
#modalInventory {
  padding: 0;
  padding-bottom: 2rem;
  width: 80%;
  height: 80%;
  overflow: hidden;
  overflow-y: scroll;
}

.modalInventory__body {
  flex-direction: column;
}

.modalInventory__header {
  padding: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  background-color: rgb(231, 231, 231);
}

.modalInventory__img {
  width: 50px;
}

.modalInventory__title {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 600;
}

.modalInventory__content {
  width: 100%;
  padding: 0 8rem;
}

.modalInventory__info {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-bottom: 3rem;
}

.modalInventory__item {
  padding: 1rem 2rem;
  border-radius: 7px;
  background-color: rgb(231, 231, 231);
}

.modalInventory-item__title,
.item-text__title {
  color: var(--primary-color);
  font-size: 2rem;
  font: 500;
}

.modalInventory-item__subtitle,
.item-text__text {
  font-size: 1.8rem;
  font: 400;
}

#close-modal-inventory {
  display: none;
}

.texts__item-text {
  padding: 1rem 2rem;
  border-radius: 7px;
  background-color: rgb(231, 231, 231);
}

.modalInventory__texts {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.inventory__item.hide .icon__money {
  background-color: rgb(179, 179, 179);
}

.inventory__item.hide .icon__points {
  color: rgb(179, 179, 179);
}

.inventory__navegation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalInventory__content {
  padding: 2rem;
}

.input__box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modalInventory__btn-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
