{% extends 'dashboard.html' %}
{% load static %}

{% block content %}

    <section class="section-Dashboard faq">
      <header class="section-Dashboard__header">
        <nav class="products__navegation">
          <ul class="products__list">
            <li class="products__item">
              <a class="products__link select" href="#">Perguntas</a>
            </li>
          </ul>
        </nav>

        <div class="products__search-box search-box">
          <div class="search-box__search">
            <input
              class="products__search-text search-text"
              type="text"
              placeholder="Pesquise por perguntas"
            />
            <a class="products__search-btn search-btn" href="#">
              <i class="bx bx-search"></i>
            </a>
          </div>
        </div>
      </header>

      <div class="section-Dashboard__faq">
        <div class="faq__question-box">
          <div class="question-box__question">
            <h6>Como deve ser o manejo no dia a dia para evitar problemas?</h6>
            <i class="bx bx-chevron-down question-box__icon"></i>
          </div>

          <div class="question-box__answer">
            Dois pontos são fundamentais para a boa manutenção da composteira doméstica:
            respeitar a indicação do tipo de resíduo que deve ser colocado e sempre cobrir
            a camada de resíduo orgânico com matéria seca, que pode ser folha, palha, serragem
            (de madeira sem tratamento) e até papelão picado (sem cola ou tinta).
          </div>
        </div>

        <div class="faq__question-box">
          <div class="question-box__question">
            <h6>O que não pode ser colocado na composteira doméstica?</h6>
            <i class="bx bx-chevron-down question-box__icon"></i>
          </div>

          <div class="question-box__answer">
            Alguns resíduos demoram muito tempo para se decompor, como carne,
            derivados de leite e casca de cítricos, o que deixa o processo mais
            lento e pode atrair bichos ou causar mal cheiro. Fezes (inclusive animal)
            ou papel higiênico usado também não são indicadas pois podem contaminar o processo.
          </div>
        </div>

        <div class="faq__question-box">
          <div class="question-box__question">
            <h6>Onde é o melhor lugar para deixar a composteira?</h6>
            <i class="bx bx-chevron-down question-box__icon"></i>
          </div>

          <div class="question-box__answer">
            Um local ventilado, ao abrigo da chuva, com luz e que não tenha incidência
            direta de sol  por muito tempo. As composteiras Humi, por exemplo, são projetadas
            para que seja possível tê-las, inclusive, dentro de apartamentos.
          </div>
        </div>

        <div class="faq__question-box">
          <div class="question-box__question">
            <h6>Em quanto tempo terei composto pronto para usar como adubo?</h6>
            <i class="bx bx-chevron-down question-box__icon"></i>
          </div>

          <div class="question-box__answer">
            O tempo de transformação do resíduo em composto irá depender de alguns fatores,
            como o tipo de resíduo colocado na composteira. Maior quantidade de frutas,
            por exemplo, irá gerar composto líquido mais rápido. Mas, em média, estima-se
            que a partir de 2 meses já é possível ter composto sólido e líquido.
          </div>
        </div>
      </div>
    </section>

{% endblock%}