#home {
  width: 100%;
  position: relative;
  background-color: var(--sidebar-color);
  padding-bottom: 20rem;
  margin-top: 9rem;
}

.carousel-item {
  height: calc(100vh - 10rem);
}

main #home .carousel-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.4;
}

.carousel-item img {
  object-fit: cover;
}

#carousel .carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  border: 2px solid var(--secundary-color);
  background-color: transparent;
  border-radius: 50%;
  margin: 0 0.5rem;
}

#carousel .carousel-indicators .active {
  width: 12px;
  height: 12px;
  border: none;
  background-color: var(--secundary-color);
  margin: 0 0.5rem;
}

.carousel-item .carousel-caption {
  position: absolute;
  top: calc(100vh / 8);
  height: 0;
  padding: 0;
  z-index: 20;
}

.carousel-item .carousel-caption h1 {
  display: block;
  color: var(--text-white);
  font-size: 10rem;
  font-weight: 700;
  text-shadow: 7px 7px #ffffff77;
}

.carousel-item .carousel-caption p {
  color: var(--text-white);
  font-size: 4.2rem;
  font-weight: 700;
}

@media (max-width: 1020px) {
  .carousel-item .carousel-caption h1 {
    font-size: 8rem;
    text-shadow: 5.6px 5.6px #ffffff77;
  }

  .carousel-item .carousel-caption p {
    font-size: 3.4rem;
  }
}

@media (max-width: 900px) {
  .carousel-item .carousel-caption {
    top: calc(100vh / 5);
  }
  .carousel-item .carousel-caption h1 {
    font-size: 6rem;
    text-shadow: 4.5px 4.5px #ffffff77;
  }

  .carousel-item .carousel-caption p {
    font-size: 2.7rem;
  }
}

@media (max-width: 670px) {
  .carousel-inner {
    height: 500px;
  }
  .carousel-item .carousel-caption {
    top: calc(100vh / 6);
  }

  .carousel-item .carousel-caption h1 {
    font-size: 4rem;
    text-shadow: 3.8px 3.8px #ffffff77;
  }

  .carousel-item .carousel-caption p {
    font-size: 2.1rem;
  }
}

@media (max-width: 520px) {
  #home {
    padding-bottom: 15rem;
  }

  .carousel-item .carousel-caption h1 {
    font-size: 3rem;
    text-shadow: 3.4px 3.4px #ffffff77;
  }

  .carousel-item .carousel-caption p {
    font-size: 1.7rem;
  }
}

@media (max-width: 480px) {
  #home {
    margin-top: 5.7rem;
  }
}

@media (max-width: 430px) {
  .carousel-inner {
    height: 400px;
  }

  .carousel-item .carousel-caption {
    top: calc(100vh / 8);
  }

  .carousel-item .carousel-caption h1 {
    font-size: 2rem;
    text-shadow: 3px 3px #ffffff77;
  }

  .carousel-item .carousel-caption p {
    font-size: 1.6rem;
  }
}
